body
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
table{
    height:500px;
    width:500px;
    padding: 20px;
}
td
{
    padding-left:100px;
}
#rock:hover
{
    border-radius: 50%;
    border-bottom: 5px solid black;
}
#sci:hover
{
    border-radius: 50%;
    border-bottom: 5px solid black;
}
#paper:hover
{
    border-radius: 50%;
    border-bottom: 5px solid black;
}
#countrock
{
    font-size: 50px;
}
#Comp
{
    padding-left:90px;
}
#countyou
{
    font-size: 50px;
}
#countcomp
{
    font-size: 50px;
}
button
{
    height: 100px;
    width:400px;
    border-radius:25%;
    margin-left: 200px;
    margin-right: auto;
    color:aliceblue;
    font-size: 50px;
}
h1
{
    width: 100%;
    background-color: darkblue;
    color: cornsilk;
}